<mat-horizontal-stepper linear>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <button mat-button (click)=saveFile()>Save</button>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>extensions</ng-template>
      <mat-form-field>
        <input matInput placeholder="Add your extensions" formControlName="secondCtrl" required>
        <mat-selection-list #shoes>
          <mat-list-option *ngFor="let shoe of typesOfShoes">
            {{shoe}}
          </mat-list-option>
        </mat-selection-list>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>user</ng-template>
    <div fxLayout="column" fxLayoutAlign="space-evenly start" >
      <mat-form-field>
        <input matInput placeholder="username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
