<div>
  <mat-horizontal-stepper [linear]="isLinear">

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Extensions</ng-template>
        <h4>These extensions could be integrated with the installer</h4>
        <mat-selection-list #extensions class="form-control" formControlName="extension_installer">
          <mat-list-option *ngFor="let extension of extensions_installer" [value]="extension">
            {{extension}}
          </mat-list-option>
        </mat-selection-list>

        <h4>These extensions could be integrated in the core</h4>
        <mat-selection-list #extensions class="form-control" formControlName="extension_core">
          <mat-list-option *ngFor="let extension of extensions_core" [value]="extension">
            {{extension}}
          </mat-list-option>
        </mat-selection-list>
        <h4>Here you can add other extensions</h4>
        But note: They are maybe not supported
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Extensionname" class="form-control" formControlName="extension_user">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Define User</ng-template>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your username" class="form-control" formControlName="username">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Start Mediawiki</ng-template>

      <button mat-button (click)=submit()>Start Mediawiki</button>

      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</div>
